@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 8px 80px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    padding: 8px 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 8px 16px;
    display: flex; 
    font-size: 18px;  
}

a {
    color:#E5E7EB;
    text-decoration: none;
    padding: 8px; 
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 80px;
    gap: 16px;
    background-color: #1F2937;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    color:#F9FAF8;
    
}

.h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color:#F9FAF8;
    margin-left: 0;
}
.p {
    font-size: 18px;
    inline-size: min-content;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 4px 16px; 
}

img {
    height: auto;
    width: 300px;
    margin: 8px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 8px 80px;
    margin-bottom: 16px;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;

}

.content-container-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.subcontent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.rounded-corner-container {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.subtext-container {
    max-width: 150px;
    color:#1F2937;
    text-align: center;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 16px;
}


